header{
	line-height: 50%;
}
.right{
	float: right;
	margin-right: 50px;
}
.left {
	float: left;
	margin-left: 50px;
}
.gop {
	margin-top: 50px;
}
h1 {
	text-align: center;
	font-size: 100px;
}
h2 {
	text-align: center;
	font-size: 60px;
	line-height: 50%;
}
p {
	width: 512px; 
	height: 372px; 
	margin-left: 300px;
	float: left;
	margin-right: -30px;
}
body {
	background-color: rgba(212, 144, 161, .5);
}
nav {
	margin-top: 200px;
	font-size: 25px;
	
}
#opposed {
	margin-top: -210px;
	margin-left: 290px;
	margin-right: -70px;
}
nav a:hover {
  color: white;
}
 nav a {
  color: red;

}