header {
	line-height: 150%;
}
.right{
	float: right;
	margin-right: 50px;
}
.left {
	float: left;
	margin-left: 50px;
}

h1 {
	text-align: center;
	font-size: 100px;
}
h2 {
	text-align: center;
	font-size: 60px;
}
p {
	width: 512px; 
	height: 372px; 
	margin-left: 280px;
	float: left;
}
#opposed {
	margin-left: 308px;
	margin-top: -210px;
}
body {
	background-color: rgba(212, 144, 161, .5);
}
.gop {
	margin-top: 50px;
}
nav {  
    margin-top: 200px;
    font-size: 25px;

    }
nav a {
  color: red;
}
nav a:hover {
  color: white;
}