.right{
	float: right;
	margin-right: 50px;
}
.left {
	float: left;
	margin-left: 50px;
}

h1 {
	text-align: center;
	font-size: 100px;
}
h2 {
	text-align: center;
	font-size: 60px;
}
p {
	width: 512px; 
	height: 372px; 
	margin-left: 200px;
	float: left;
}
